html,
body {
  font-family: Arial, sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  background-color: #f5f5f5;
}
header {
  width: 100%;
  color: white;
  padding: 0;
  background-color: rgb(0, 25, 148);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.title {
  color: #f2f2f2;
  text-align: center;
  font-size: 50px;
  padding-top: 7px;
}
.topnav {
  overflow: hidden;
  border-bottom-left-radius: 10px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px 25px 10px;
  text-decoration: none;
  font-size: 17px;
  border-radius: 10px;
}
.topnav a:hover {
  background-color: #f2f2f24f;
  color: black;
}

.topnav a.active {
  background-color: #0936ca;
  color: white;
}
.topnav a.login-bttn{
  float: right;

}.topnav input[type=text] {
  float: left;
  padding: 6px;
  border: none;
  border-radius: 10px;
  margin-top: 3px;
  margin-right: 16px;
  font-size: 17px;
}
.topnav .icon {
  display: none;
}
.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.dropdown-content {
  display: none;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:rgb(0, 25, 148);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: #f2f2f24f;
  color: white;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.account {
  float: right;
  overflow: hidden;
}
.account .dropbtn {
  font-size: 17px;
  border: none;
  border-radius: 10px;
  outline: none;
  color: white;
  padding: 10px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.account-content {
  display: none;
  position: absolute;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color:rgb(0, 25, 148);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.topnav a:hover, .account:hover .dropbtn {
  background-color: #f2f2f24f;
  color: white;
}
.account:hover .account-content {
  display: block;
}
.footer {
  margin: 0;
  background-color: rgb(0, 25, 148);
  float: bottom;
  width: 100%;
  color: #f2f2f2;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content{
  margin-top: 20px;
  /* background-image: url("../picture/pic1.jpg");
  filter: blur(8px);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.login {
  background-color: #dddddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-top: 0;
  max-width: 400px;
  width:100%;
}
.login-form {
  width: 80%;
  max-width: 400px;
}
.login h1 {
  text-align: center;
}
.login label {
  display: block;
  padding-bottom: 0px;
}
.login .form-group {
  margin-bottom: 1rem;
}

.login .form-group label {
  margin-right: 1rem;
  font-weight: bold;
}

.login .form-group input {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 0.25rem;
  width: 20rem;
}

.login button {
  width: 7rem;
  padding: 0.5rem;
  background-color: blue;
  color: white;
  border-radius: 0.25rem;
}

.login button:hover {
  cursor: pointer;
  background-color: darkblue;
}
.login p {
  font-size: small;
}
.login a {
  text-decoration: none;
}
.bot {
  display: flex;
  justify-content: space-between;
}
.sign{
  display: flex;
  justify-content: space-between;
}
.cont-prod {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 100vh;
}

.image-container {
  position: relative;
  flex: 1;
  margin: 0 10px;
}

.image-container img {
  margin: auto;
  width: 100%;
  height: 50%;
}

.label {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(255, 249, 249);
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
}
.content .cont-box{
  flex: 1;
  margin: 0 10px;
}
.content .cont-box .box1{
  border: 1 solid;
  background-color: #0936ca;
  margin: auto;
  width: 100%;
  height: 50%;
}.content .cont-box .box2{
  border: 1 solid;
  background-color: #ca0909;
  margin: auto;
  width: 100%;
  height: 50%;
}.content .cont-box .box3{
  border: 1 solid;
  background-color: #29ca09;
  margin: auto;
  width: 100%;
  height: 50%;
}
@media (max-width: 500px) {
  .login-form {
      width: 90%; /* Adjust width for smaller screens */
  }
  .navbar a {
    float: none;
    display: block;
  }
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
  .topnav a:not(:first-child), .dropdown .dropbtn {
    display: none;
  }
  .topnav a.icon {
    float: right;
    display: block;
  }
}